<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jeongjiho.fapp.navergroup.NavergroupDao">
                   

	<resultMap id="resultMapObj" type="com.jeongjiho.fapp.navergroup.NavergroupDto"></resultMap>
									   
	
	<select id="selectList" resultMap="resultMapObj">
  	SELECT 
		seq,
    	snsType,
    	snsAdress,
    	addContact_seq,
    	is_primary
	FROM
		naversns
	WHERE 1=1
	ORDER BY seq DESC
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT 
			seq,
    		snsType,
    		snsAdress,
    		addContact_seq,
    		is_primary
		FROM
			naversns
		WHERE 1=1
			AND seq = #{seq}
		ORDER BY seq DESC
	</select>
	
</mapper>