<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jeongjiho.fapp.naveradress.NaveradressDao">
                   

	<resultMap id="resultMapObj" type="com.jeongjiho.fapp.naveradress.NaveradressDto"></resultMap>
									   
	
	<select id="selectList" resultMap="resultMapObj">
  	SELECT 
		seq,
		adressType,
		zipCode,
		search,
		address,
		addContact_seq,
		is_primary
	FROM
		naveradress
	WHERE 1=1
	ORDER BY seq DESC
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT 
			seq,
			adressType,
			zipCode,
			search,
			address,
			addContact_seq,
			is_primary
		FROM
			naveradress
		WHERE 1=1
			AND seq = #{seq}
		ORDER BY seq DESC
	</select>
	
	<insert id="insert">
	INSERT INTO naveradress (		
		adressType,
		zipCode,
		search,
		address,
		addContact_seq,
		is_primary
		) values (			
			#{adressType},
			#{zipCode},
			#{search},
			#{address},
			#{addContact_seq},
			#{is_primary}		
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
</mapper>