<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jeongjiho.fapp.navergroup.NavergroupDao">

 	<resultMap id="resultMapObj" type="com.jeongjiho.fapp.navergroup.NavergroupDto"></resultMap>
	
	
	<select id="selectList" resultMap="resultMapObj">
  	SELECT 
		seq,
		addcontact_seq,
		group_seq,
		is_primary
	FROM
		naveradress
	WHERE 1=1
	ORDER BY seq DESC
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT 
			seq,
			addcontact_seq,
			group_seq,
			is_primary
		FROM
			naveradress
		WHERE 1=1
			AND seq = #{seq}
		ORDER BY seq DESC
	</select>
	
	<insert id="insert">
	INSERT INTO naveradress (		
			addcontact_seq,
			group_seq,
			is_primary
		) values (			
			#{addContact_seq},
			#{group_seq},
			#{is_primary}		
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
</mapper>