<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>dateType</td>
		<td>group_seq</td>
		<td>date</td>
		<td>solarlunar</td>
		<td>addContact_seq</td>
		<td>is_primary</td>
	</tr>
	<tr>
		<td th:text="${item.seq}"></td>
		<td th:text="${item.dateType}"></td>
		<td th:text="${item.group_seq}"></td>
		<td th:text="${item.date}"></td>
		<td th:text="${item.solarlunar}"></td>
		<td th:text="${item.addContact_seq}"></td>
		<td th:text="${item.is_primary}"></td>
	</tr>
	
</table>

</body>
</html>