<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<form action="/navercompany/navercompanyXdmInst" method="post" id="form">
	seq: <input type="text" name="seq" id="seq" maxlength="10" disabled/>
	company: <input type="text" name="company" id="company" placeholder="회사명 입력"/>
	department: <input type="text" name="department" placeholder="우편번호"/>
	addContact_seq: <input type="text"/>
	is_primary: <input type="text"/>
	<button type="button" id="btnSave">저장</button>
</form>

<script type="text/javascript">

	document.getElementById("btnSave").onclick = function() {
		document.getElementById("form").submit();
	}
	
	/* document.getElementById("btnSave").onclick = function() {
		alert("asdfasdf");
	} */
	
	document.getElementById("name").onchange = function() {
		alert("name");
	}
	
</script>	
</table>
</body>
</html>